<?xml version="1.0" encoding="UTF-8" ?>
<taglib version="2.1" xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://xmlns.jcp.org/xml/ns/javaee/web-jsptaglibrary_2_1.xsd">

    <tlib-version>1.0</tlib-version>
    <short-name>MyTaglib</short-name>

    <tag>
        <name>hello</name>
        <tag-class>be.janolaerts.customtags.Opdracht1.HelloWorldHandler</tag-class>
        <body-content>empty</body-content>
    </tag>

    <tag>
        <name>calculate</name>
        <tag-class>be.janolaerts.customtags.Opdracht2.CalculateHandler</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>number1</name>
            <required>yes</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>number2</name>
            <required>yes</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>reverse</name>
        <tag-class>be.janolaerts.customtags.Opdracht2.ReverseHandler</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>text</name>
            <required>yes</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>format</name>
        <tag-class>be.janolaerts.customtags.Opdracht3.FormatHandler</tag-class>
        <body-content>tagdependent</body-content>
        <dynamic-attributes>true</dynamic-attributes>
    </tag>

    <tag>
        <name>uppercase</name>
        <tag-class>be.janolaerts.customtags.Opdracht3.UppercaseHandler</tag-class>
        <body-content>tagdependent</body-content>
    </tag>

    <tag>
        <name>repeat</name>
        <tag-class>be.janolaerts.customtags.Opdracht3.RepeatHandler</tag-class>
        <body-content>tagdependent</body-content>
        <dynamic-attributes>true</dynamic-attributes>
    </tag>

    <function>
        <name>kmToMiles</name>
        <function-class>be.janolaerts.customtags.Opdracht5.Conversions</function-class>
        <function-signature>java.lang.String kmToMiles(double)</function-signature>
    </function>

    <function>
        <name>celciusToFahrenheit</name>
        <function-class>be.janolaerts.customtags.Opdracht5.Conversions</function-class>
        <function-signature>java.lang.String celciusToFahrenheit(double)</function-signature>
    </function>

    <function>
        <name>meterToCentimeter</name>
        <function-class>be.janolaerts.customtags.Opdracht5.Conversions</function-class>
        <function-signature>java.lang.String mToCm(double)</function-signature>
    </function>

    <function>
        <name>roundNumber</name>
        <function-class>be.janolaerts.customtags.Opdracht5.Conversions</function-class>
        <function-signature>java.lang.String roundNumber(double,int)</function-signature>
    </function>

</taglib>